<sections class="forms">
    <div class="container-fluid pt-3">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3>Thêm dữ liệu Link Channel Can Sub</h3>
                    </div>
                    <div class="card-close"></div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Link</label>
                                <input type="text" class="form-control" id="linkSub" aria-describedby="linkSubHelp">
                            </div>
                            <button type="button" class="btn btn-block btn-primary btn-sm" id="btnStart">Start</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3>Thêm dữ liệu PhoneNumber - OTP</h3>
                    </div>
                    <div class="card-close"></div>
                    <div class="card-body">

                        <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="phoneNumber1" class="sr-only">Số Phone</label>
                                <input type="text" class="form-control" id="phoneNumber1" placeholder="Số Phone">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="otp1" class="sr-only">Mã Code OTP</label>
                                <input type="text" class="form-control" id="otp1" placeholder="Mã Code OTP">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="deviceName1" class="sr-only">Thiết Bị</label>
                                <input type="text" class="form-control" id="deviceName1" placeholder="Thiết Bị">
                            </div>
                            <button type="button" class="btn btn-primary mb-2" id="luuDuLieu1">Lưu Dữ Liệu - 1</button>
                        </form>

                        <form class="form-inline pt-4">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="phoneNumber2" class="sr-only">Số Phone</label>
                                <input type="text" class="form-control" id="phoneNumber2" placeholder="Số Phone">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="otp2" class="sr-only">Mã Code OTP</label>
                                <input type="text" class="form-control" id="otp2" placeholder="Mã Code OTP">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="deviceName2" class="sr-only">Thiết Bị</label>
                                <input type="text" class="form-control" id="deviceName2" placeholder="Thiết Bị">
                            </div>
                            <button type="button" class="btn btn-primary mb-2" id="luuDuLieu2">Lưu Dữ Liệu - 2</button>
                        </form>

                        <form class="form-inline pt-4">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="phoneNumber3" class="sr-only">Số Phone</label>
                                <input type="text" class="form-control" id="phoneNumber3" placeholder="Số Phone">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="otp3" class="sr-only">Mã Code OTP</label>
                                <input type="text" class="form-control" id="otp3" placeholder="Mã Code OTP">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="deviceName3" class="sr-only">Thiết Bị</label>
                                <input type="text" class="form-control" id="deviceName3" placeholder="Thiết Bị">
                            </div>
                            <button type="button" class="btn btn-primary mb-2" id="luuDuLieu3">Lưu Dữ Liệu - 3</button>
                        </form>


                        <form class="form-inline pt-4">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="phoneNumber4" class="sr-only">Số Phone</label>
                                <input type="text" class="form-control" id="phoneNumber4" placeholder="Số Phone">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="otp4" class="sr-only">Mã Code OTP</label>
                                <input type="text" class="form-control" id="otp4" placeholder="Mã Code OTP">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="deviceName4" class="sr-only">Thiết Bị</label>
                                <input type="text" class="form-control" id="deviceName4" placeholder="Thiết Bị">
                            </div>
                            <button type="button" class="btn btn-primary mb-2" id="luuDuLieu4">Lưu Dữ Liệu - 4</button>
                        </form>

                        <form class="form-inline pt-4">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="phoneNumber5" class="sr-only">Số Phone</label>
                                <input type="text" class="form-control" id="phoneNumber5" placeholder="Số Phone">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="otp5" class="sr-only">Mã Code OTP</label>
                                <input type="text" class="form-control" id="otp5" placeholder="Mã Code OTP">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="deviceName5" class="sr-only">Thiết Bị</label>
                                <input type="text" class="form-control" id="deviceName5" placeholder="Thiết Bị">
                            </div>
                            <button type="button" class="btn btn-primary mb-2" id="luuDuLieu5">Lưu Dữ Liệu - 5</button>
                        </form>



                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Kết quả</h3>
                    </div>
                    <div class="card-close">
                        <div class="badge badge-pill badge-warning h5 text-light">
                            <span id="proccessingCurrent">0</span>
                            /
                            <span id="proccessingAll">0</span>
                        </div>
                    </div>
                    <div class="card-body" id="resultShow"></div>
                </div>
            </div>
        </div>
    </div>
</sections>

<script>
    let btnStart = "#btnStart";
    let linkSub = "#linkSub";
    let btnCreate = "#btnCreate";
    let listAccount = "#listAccount";

    let btnLuuDieuLieu1 = "#luuDuLieu1";
    let btnLuuDieuLieu2 = "#luuDuLieu2";
    let btnLuuDieuLieu3 = "#luuDuLieu3";
    let btnLuuDieuLieu4 = "#luuDuLieu4";
    let btnLuuDieuLieu5 = "#luuDuLieu5";

    $(btnLuuDieuLieu1).click(function () {
        let dataAjax = {
            phoneNumber: $("#phoneNumber1").val(),
            otp: $("#otp1").val(),
            deviceName: $("#deviceName1").val()

        }

        console.log("Du lieu 1\n")
        console.log(dataAjax)

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/addAccountTelegram",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm tài khoản ${result.data.phoneNumber
                            } vào máy ${result.data.deviceName
                            } thành công`
                    })
                } else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        }).always(function () {
            let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
            $(proccessingCurrent).text(processingCurrentText);
        })
    })

    $(btnLuuDieuLieu2).click(function () {
        let dataAjax = {
            phoneNumber: $("#phoneNumber2").val(),
            otp: $("#otp2").val(),
            deviceName: $("#deviceName2").val()

        }

        console.log("Du lieu 2\n")
        console.log(dataAjax)

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/addAccountTelegram",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm tài khoản ${result.data.phoneNumber
                            } vào máy ${result.data.deviceName
                            } thành công`
                    })
                } else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        }).always(function () {
            let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
            $(proccessingCurrent).text(processingCurrentText);
        })
    })


    $(btnLuuDieuLieu3).click(function () {
        let dataAjax = {
            phoneNumber: $("#phoneNumber3").val(),
            otp: $("#otp3").val(),
            deviceName: $("#deviceName3").val()

        }

        console.log("Du lieu 3\n")
        console.log(dataAjax)

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/addAccountTelegram",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm tài khoản ${result.data.phoneNumber
                            } vào máy ${result.data.deviceName
                            } thành công`
                    })
                } else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        }).always(function () {
            let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
            $(proccessingCurrent).text(processingCurrentText);
        })
    })


    $(btnLuuDieuLieu4).click(function () {
        let dataAjax = {
            phoneNumber: $("#phoneNumber4").val(),
            otp: $("#otp4").val(),
            deviceName: $("#deviceName4").val()

        }

        console.log("Du lieu 4\n")
        console.log(dataAjax)

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/addAccountTelegram",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm tài khoản ${result.data.phoneNumber
                            } vào máy ${result.data.deviceName
                            } thành công`
                    })
                } else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        }).always(function () {
            let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
            $(proccessingCurrent).text(processingCurrentText);
        })
    })


    $(btnLuuDieuLieu5).click(function () {
        let dataAjax = {
            phoneNumber: $("#phoneNumber5").val(),
            otp: $("#otp5").val(),
            deviceName: $("#deviceName5").val()

        }

        console.log("Du lieu 5\n")
        console.log(dataAjax)

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/addAccountTelegram",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm tài khoản ${result.data.phoneNumber
                            } vào máy ${result.data.deviceName
                            } thành công`
                    })
                } else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        }).always(function () {
            let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
            $(proccessingCurrent).text(processingCurrentText);
        })
    })

    $(btnStart).click(function () {
        let dataAjax = {
            linkSub: $(linkSub).val()
        }

        let requestPost = $.ajax({
            type: "POST",
            url: "../../api/setLinkSub",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataAjax),
            success: function (result) {
                let resultRender = "";
                console.log(result);
                if (result.success) {
                    let template = Handlebars.compile($(renderResultSuccess).html());
                    resultRender = template({
                        msg: `Đã thêm links vào database`
                    })
                }
                else {
                    let template = Handlebars.compile($(renderResultError).html());
                    resultRender = template({
                        msg: result.data,
                        error: JSON.stringify(result.data)
                    });
                }
                $(resultShow).append(resultRender);
            }
        })
    });


    function getCountAll() {
        let input = $(listAccount).val().trim().replace(/^\s*\n/gm, "");
        if (input) {
            let countInput = input.split('\n');
            $(proccessingAll).text(countInput.length)
        } else {
            $(proccessingAll).text(0)
        }
    }

    $(btnCreate).click(function () {
        getCountAll();
        $(proccessingCurrent).text(0);

        let listAccountCreate = $(listAccount).val().trim().replace(/^\s*\n/gm, "").split("\n");

        $.each(listAccountCreate, function (index, item) {
            try {
                let dataParse = parseQueryString(item);


                let dataAjax = {
                    phoneNumber: dataParse.phoneNumber,
                    otp: dataParse.otp,
                    deviceName: dataParse.deviceName
                }

                let requestPost = $.ajax({
                    type: "POST",
                    url: "../../api/addAccountTelegram",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(dataAjax),
                    success: function (result) {
                        let resultRender = "";
                        if (result.success) {
                            let template = Handlebars.compile($(renderResultSuccess).html());
                            resultRender = template({
                                msg: `Đã lưu dữ liệu ${result.data.phoneNumber
                                    } vào máy ${result.data.deviceName
                                    } thành công`
                            })
                        } else {
                            let template = Handlebars.compile($(renderResultError).html());
                            resultRender = template({
                                msg: result.data,
                                error: JSON.stringify(result.data)
                            });
                        }
                        $(resultShow).append(resultRender);
                    }
                }).always(function () {
                    let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
                    $(proccessingCurrent).text(processingCurrentText);
                })
            } catch (error) {
                console.log(error);
            }
        })
    })


</script>

<script>
    function parseQueryString(query) {
        var obj = {},
            qPos = query.indexOf("?"),
            tokens = query.substr(qPos + 1).split('&')
        i = tokens.length - 1;
        if (qPos !== -1 || query.indexOf("=") !== -1) {
            for (; i >= 0; i--) {
                var s = tokens[i].split('=');
                obj[unescape(s[0])] = s.hasOwnProperty(1) ? unescape(s[1]) : null;
            };
        }
        return obj;
    }
</script>

<script id="renderResultError" type="text/x-handlebars-template">
        <div class="alert alert-danger" role="alert">
            \{{ msg }}
            <hr/>
            \{{ error }}
        </div>
    </script>
<script id="renderResultSuccess" type="text/x-handlebars-template">
        <div class="alert alert-success" role="alert">\{{ msg }}</div>
    </script>