<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h3>Input Imei</h3>

                </div>
                <div class="card-body" style="min-height: 500px">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="" id="imei" maxlength="15" placeholder="Imei Number"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-block btn-success btn-sm" id="btnCreate">Tạo 1K</button>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <button type="button" class="btn btn-block btn-danger btn-sm" id="btnCreate1000">Tạo 10K Imei</button>
                                </div>
                                <div class="col-lg-12 pt-3">
                                    <div class="form-group">
                                        <textarea class="form-control" name="" id="listIMEI" rows="12"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-block btn-primary btn-sm" id="btnStart">Start</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="col-10">
                            <h3 class="h4">Result</h3>
                        </div>
                        <div class="col-2">
                            <div class="badge bg-primary h5 text-light">
                                <span id="proccessingCurrent">0</span>
                                /
                                <span id="proccessingAll">0</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-body" style="min-height:500px" id="resultShow">
                        <table class="table w-auto small text-info font-weight-bold">
                            <thead class="thead-dark">
                                <tr>
                                    <th>IMEI</th>
                                    <th>Ngày Kích Hoạt</th>
                                    <th>Model</th>
                                    <th>Nội Dung</th>
                                </tr>
                            </thead>
                            <tbody id="tableResult"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        let imei = "#imei";
        let btnStart = "#btnStart";
        let listIMEI = "#listIMEI"
        let btnCreate = "#btnCreate";
        let btnCreate1000 = "#btnCreate1000";
        let tableResult = "#tableResult";
        let proccessingCurrent = '#proccessingCurrent';
        let proccessingAll = '#proccessingAll';


        $(btnCreate1000).click(function () {
            $('#tableResult').empty();
            $(listIMEI).text('');
            let EleImei = "";
            imeiChuanHoa = $(imei).val().slice(0, 11)
            console.log(imeiChuanHoa)

            $(imei).val(imeiChuanHoa);
            EleImei = $(imei).val();

            for (let m = 0; m < 10; m++) {

                for (let i = 0; i < 1000; i++) {
                    var test = EleImei + m
                    if (i < 10) {
                        test = test + "00" + i + "\n";
                        console.log(test)
                    } else if (i >= 10 && i < 100) {
                        test = test + "0" + i + "\n";
                        console.log(test)
                    } else {
                        test = test + i + "\n";
                        console.log(test)
                    }

                    $(listIMEI).append(test);
                }

            }

        })

        $(btnCreate).click(function () {
            $('#tableResult').empty();
            $(listIMEI).text('');
            let EleImei = "";

            imeiChuanHoa = $(imei).val().slice(0, 12)
            console.log(imeiChuanHoa)

            $(imei).val(imeiChuanHoa);
            EleImei = $(imei).val();

            for (let i = 0; i < 1000; i++) {
                var test = EleImei
                if (i < 10) {
                    test = test + "00" + i + "\n";
                    console.log(test)
                } else if (i >= 10 && i < 100) {
                    test = test + "0" + i + "\n";
                    console.log(test)
                } else {
                    test = test + i + "\n";
                    console.log(test)
                }

                $(listIMEI).append(test);
            }
        })


        function getCountAll() {
            let input = $(listIMEI).val().trim().replace(/^\s*\n/gm, "");
            if (input) {
                let countInput = input.split('\n');
                $(proccessingAll).text(countInput.length)
            } else {
                $(proccessingAll).text(0)
            }
        }

        $(btnStart).click(function () {
            getCountAll();
            $(proccessingCurrent).text(0);
            let listIMEICreate = $(listIMEI).val().trim().replace(/^\s*\n/gm, "").split('\n');
            let promises = [];
            $.each(listIMEICreate, function (index, item) {
                try {
                    let request = $.ajax({
                        url: `../../api/checkimei&imei=${item}`,
                        dataType: 'json',
                        type: 'GET',
                        success: function (result) {
                            setTimeout(function () {
                                console.log(result);
                                console.log(result.data.imei)
                                let resultRender = "";
                                if (result.success == true) {
                                    resultRender = Handlebars.compile(`<tr><td>${
                                        result.data.imei
                                    }</td><td>${
                                        result.data.model
                                    }</td><td>${
                                        result.data.ngayKichHoat
                                    }</td>
                                <td>${
                                        result.data.content
                                    }</td></tr>`);
                                }

                                $(tableResult).append(resultRender);
                            }, 1000)

                        }
                    }).always(function () {
                        let processingCurrentText = Number($(proccessingCurrent).text()) + 1;
                        $(proccessingCurrent).text(processingCurrentText);
                    })

                    promises.push(request);

                } catch (error) {}
            })

        });
    </script>
